<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shearere - Balance and Reservations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header th:insert = "blocks/header::header"></header>

        <div class="content">

            <div th:each="user : ${users}" class="reservation-list">

                <!--             <span th:value="${el.parkingspot}" th:text="${el.lotLocation}"></span>-->
                <span
                ></span> |
                <span th:text="${user.email}"></span> |
                <span th:text="${user.paymentInfo}"></span> |
                <span th:text="${user.role}"></span> |
                <br>
            </div>

            <a href="/reservation" class="reserve-new-btn">Reserve New Spot</a>
            <form th:action="@{/logout}" method="post" class="form-logout">
                <button type="submit" class="btn-logout">
                    Logout
                </button>
            </form>
        </div>

        <footer th:insert="blocks/footer::footer"></footer>
    </div>
</body>
</html>
