<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shearere Design</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <header th:insert = "blocks/header::header"></header>

    <div class="content">
<div class="diviko" content="text">
    <h1>Oops! Something went wrong.</h1>
    <p>An unexpected error occurred. Please try again later.</p>
</div>

    <a  th:href="@{/profile}" class="ssxva">Back to Profile</a>

</div>

        <footer th:insert="blocks/footer::footer"></footer>
</div>
</body>
</html>
