<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shearere - Balance and Reservations</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header th:insert = "blocks/header::header"></header>

        <div class="content">
            <strong class = "price-amount">$</strong> <span class="balance" th:text="${payment}"></span>


            <form action="/profile" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <br> <button type="submit" class="add-balance-btn">Add 10$ to balance</button>
            </form>
            <p>You Have Spot waiting for you At:</p>
<!--            <div th:each="el : ${reservations}" class="reservation-list">-->
            <div th:each="reservation : ${reservations}" class="reservation-list">

<!--             <span th:value="${el.parkingspot}" th:text="${el.lotLocation}"></span>-->
                <span th:text="${reservation.lotLocation}"></span> |
                <span th:text="${reservation.startTime}"></span> |
                <span th:text="${reservation.endTime}"></span> | AT Parking Spot
               <span th:text="${reservation.parkingspot.spotID}"></span>
            </div>

            <a href="/reservation" class="reserve-new-btn">Reserve New Spot</a>
            <form th:action="@{/logout}" method="post" class="form-logout">
                <button type="submit" class="btn-logout">
                    Logout
                </button>
            </form>
        </div>



        <footer th:insert="blocks/footer::footer"></footer>
    </div>
<!--    <script>-->
<!--        function addTenDollars() {-->
<!--            // Create a form dynamically-->
<!--            let form = document.createElement("form");-->
<!--            form.method = "POST";-->
<!--            form.action = "/profile";-->

<!--            // Append the form to the document body and submit it-->
<!--            document.body.appendChild(form);-->
<!--            form.submit();-->
<!--        }-->
<!--    </script>-->
</body>
</html>
