<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shearere - Parking Reservation</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container form-container">
        <header th:insert = "blocks/header::header"></header>


        <div class="content">
            <form th:action="@{/reservation}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <!-- Parking lot selection -->
                <div class="form-section">
                    <h4 class="section-title">Choose Street To Park</h4>
                    <div th:each="el : ${parkinglots}" class="styled-checkbox">
                        <label>
                            <input type="radio" name="parkinglot" th:value="${el.lotID}" th:text="${el.location}">
                        </label>
                    </div>
                </div>

                <!-- Date and Time Selection -->
                <div class="form-section">
                    <h4 class="section-title">Choose Date and Time</h4>
                    <div class = "date-time">
                    <input type="date" name="date" placeholder="dd/mm/yyyy">


                        <div class="time-inputs">
                        <input type="time" name="start_time" placeholder="From">
                        <input type="time" name="end_time" placeholder="To">
                        </div>
                        </div>
                </div>

                <!-- EV Charging Selection -->
                <div class="form-section">
                    <h4 class="section-title">Do You Have EV?</h4>
                    <div class="styled-checkbox">
                        <label>
                            <input type="checkbox" name="evCharging" value="true"> Yes
                        </label>
                    </div>
                    <div th:if="${message}" class="error-message">
                        <p th:text="${message}"></p>
                    </div>
                </div>

                <button type="submit" class="reserve-btn">Reserve</button>
                <br>
                <a href="/profile" class="add-balance-btn">Profile</a>
            </form>

        </div>

        <footer th:insert="blocks/footer::footer"></footer>
    </div>
</body>
</html>
